* {
	padding: 0;
	margin: 0;
}

body {
	width: 500px;
	height: 500px;
	margin: auto auto;
	border: 1px solid black;
}

.carousel {
	display: flex;
	flex-direction: column;
}

.carousel button {
	border: none;
	background-color: rgb(0,0,0,0);
}

.carousel button:hover {
	cursor: pointer;
}

.carousel-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.carousel-btn img {
	height: 60px;
}

.carousel-btn img:hover {
	cursor: pointer;
}

.carousel-item-container {
	display: flex;
}

.carousel-item {
	min-width: 100px;
	min-height: 100px;
	background-color: rgb(223, 111, 111);
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
}

.carousel-pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: antiquewhite;
	height: 20px;
}

.carousel-pagination-btn {
	width: 10px;
	height: 10px;
	margin: 0 10px;
	background-color: rgb(70, 70, 68);
	border-radius: 50%;
}